.muyu{
    margin: 100px;
}

h1{
    text-align: center;
    font: bold;
    color: #ffffff;
    font-size: 50px;
    font-family: "阿里妈妈数黑体 Bold";
    
}
p{
    color: #ffffff;
    font-size: 50px;
    font-family: "阿里妈妈数黑体 Bold";
}

@font-face {
    font-family: "阿里妈妈数黑体 Bold";font-weight: 700;src: url("//at.alicdn.com/wf/webfont/5dsdzScJ6p1T/pUisql-E8HuRiI-ycnbXz.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/5dsdzScJ6p1T/L2iUWXB0DvR2uTdAuZLSY.woff") format("woff");
    font-display: swap;
}

div{
    text-align: center;
}

button{
    visibility: hidden;
}
